/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# byebug debugging tracking
.byebug_history

# RubyMine stuff
.idea

# Ignore application configuration
.env
