---
http_interactions:
- request:
    method: post
    uri: https://api.orange.com/oauth/v2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic d32831c60f88c759a377a080754e3841477fb5b2e22d709f609dd4baaa9203cb2f6d
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Oapi-Request-Id:
      - opapccballrt02-31793-587098-1
    body:
      encoding: UTF-8
      string: "\n          {\n            \"token_type\": \"Bearer\",\n          \t\"access_token\":
        \"edvO6iN33DsUcuUdtGQE1YS5mmeI\",\n          \t\"expires_in\": \"7776000\"\n
        \         }\n        "
  recorded_at: Fri, 02 Aug 2019 08:52:54 GMT
- request:
    method: post
    uri: https://api.orange.com/smsmessaging/v1/outbound/tel:+22737373737/requests
    body:
      encoding: UTF-8
      string: '{"outboundSMSMessageRequest":{"address":"tel:+22373737373","outboundSMSTextMessage":{"message":"Test
        SMS"},"senderAddress":"tel:+22737373737","senderName":"+22737373737"}}'
    headers:
      Authorization:
      - Bearer edvO6iN33DsUcuUdtGQE1YS5mmeI
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://api.orange.com/smsmessaging/v1/outbound/tel:+22737373737/requests/d69e73b8-0cfd-4323-bec0-29b0515abcaa
      X-Oapi-Request-Id:
      - opapccballrt11-29528-531951-1
    body:
      encoding: UTF-8
      string: '{"outboundSMSMessageRequest":{"address":["tel:+22373737373"],"senderAddress":"tel:+22737373737","senderName":"+22737373737","outboundSMSTextMessage":{"message":"Test
        SMS"},"resourceURL":"https://api.orange.com/smsmessaging/v1/outbound/tel:+22737373737/requests/d69e73b8-0cfd-4323-bec0-29b0515abcaa"}}'
  recorded_at: Fri, 02 Aug 2019 08:52:55 GMT
recorded_with: VCR 5.0.0
